{% include 'header.html' %}
<body>
    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title">Welcome to Melbourne House price prediction</h2>
                    <div class="col-4">
                        <div class="p-t-15">
                            <a href="{{ url_for('predict') }}"><button class="btn btn--radius-2 btn--blue" type="submit">Get Started</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% include 'footer.html' %}